<!DOCTYPE html>
<html>

<head>
    <title>Trading Economics Indicators</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        .header-row {
            font-weight: bold;
        }

        .data-row:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Indicators</h1>
    <table>
        <tr class="header-row">
            <th>Category</th>
            <th>Category Group</th>
        </tr>
        <% apiData.forEach(function (entry) { %>
            <tr class="data-row">
                <td>
                    <%= entry.Category %>
                </td>
                <td>
                    <%= entry.CategoryGroup %>
                </td>
            </tr>
            <% }); %>
    </table>
</body>

</html>